.card-login {
    padding: 30px 0 0 0;
    width: 350px;
    margin: 0 auto;

    
   }

.card-home {
     padding: 30px 0 0 0;
     width: 100%;
     margin: 0 auto;
   }

.card-abrir-chamado {
     padding: 30px 0 0 0;
     width: 100%;
     margin: 0 auto;
     

   }

.card-consultar-chamado {
     padding: 30px 0 0 0;
     width: 100%;
     margin: 0 auto;
     background-color: rgb(0, 0, 0);
   }
.botao-sair{
  color: rgb(255, 255, 255);
  background-color: rgb(180, 0, 0);
  border-radius: 5% ;
  height: 30px;
  width: 100px;
  font-size: 16px;
 cursor: pointer;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

